import Head from 'next/head'
import styles from '@styles/pages/{{snakeCase filename}}.scss'

export default function {{ pascalCase filename }}({ content, pathname }) {
  return (
    <>
      <Head>
        <title>{content.page_title}</title>
      </Head>
      <style jsx>{styles}</style>
      <main className="thesis-{{snakeCase filename}}">
        <h2>Thesis Client App</h2>
        <p>Current Path - {pathname}</p>
      </main>
    </>
  )
}

{{ pascalCase filename }}.getInitialProps = async ({ asPath }) => {
  // Fetches from global JSON on client-side redirects (Next/Link or Next/Router)
  if (process.browser) return __NEXT_DATA__.props.pageProps

  // get content from JSON
  const content = await require('page-content/{{kebabCase filename}}.json')

  return {
    // will be passed to the page component as props
    content,
    pathname: asPath,
  }
}